<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--START Dùng chung -->

      <link rel="icon" href="../Hình ảnh/logo4.png" type="image/png" />
      <title>Quản lý - Cộng đồng VinFast Toàn cầu</title>
     
      <link rel="stylesheet" href="../User/CSS/reset.css" />
  
      <link
        rel="stylesheet"
        href="../fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css"
      />
      <link
        rel="stylesheet"
        href="../fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/solid.css"
      />
      
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
        rel="stylesheet"
      />
      <!--END Dùng chung -->
      <link rel="stylesheet" href="./CSS ADMIN/Quản lý thông tin.css">
      <script src="../angular.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body ng-app="AppDienDan" ng-controller="Index_Admin">
    
  <!-- START -------------------------------------------------------Navigation-bar -->
    <div id="Navigation-bar">
        <div class="logo">
          <img src="../Hình ảnh/logo.png" alt="#" class="logo-bar">
        </div>
        <hr>
        <div class="items">
          <div class="item">
           
           <a href="./Quản lý thông tin.html" class="item-title">Trang Chủ</a>
          </div>
          <div class="item">
            <img src="../Hình ảnh/user.png" alt="" class="icon-item">
           <a href="./Quản lý người dùng.html"  class="item-title">Quản lý người dùng</a>
          </div>
          <div class="item">
            <img src="../Hình ảnh/news1.png" alt="" class="icon-item">
           <a href="./Quản lý chủ đề bài viết.html"  class="item-title">Quản lý chủ đề</a>
          </div>
          <div class="item">
            <img src="../Hình ảnh/Forum.png" alt="" class="icon-item">
           <a href="./Quản lý bài viết.html"  class="item-title">Quản lý bài viết</nav></a>
          </div>
          <div class="item">
            <img src="../Hình ảnh/event.png" alt="" class="icon-item">
           <a href="#" class="item-title">Quản lý bình luận</a>
          </div>
        </div>
    </div>
  <!-- END -------------------------------------------------------Navigation-bar -->



  <!-- START -------------------------------------------------------maint-content -->

    <div id="maint-content">
      <!-- START---------------------header-maint -->
      <div class="header-maint">
        <div class="title-header">
          <h1 id="id_title_header">TRANG QUẢN NGƯỜI DÙNG</h1>
          <button id="btn_tiemkiem_header"> <img src="../Hình ảnh/icon_btn_timkiem.svg" alt=""></button>
          <div id="khung_inp_timkiem">
            <img src="../Hình ảnh/icon_btn_timkiem.svg" alt="#">
            <input type="text" id="inp_timkiem_header" placeholder="Tìm kiếm thông tin người dùng..." ng-keyup="handleKeyUp($event)">
          </div>
          <button id="btn_thoat_timkiem_header"> <img src="../Hình ảnh/icon_btn_close.svg" alt=""> </button>
  
        </div>
        <div class="control-header" id="avt_user">
          <div class="caidat-control_header"><a href="#"><img src="../Hình ảnh/setting.png" alt="cai dat"></a></div>
  
          <div class="thongbap-control_header"><a href="#"><img src="../Hình ảnh/notification.png" alt="thông báo"></a>
          </div>
          <div class="ctl_user_header">
            <div onclick="hienthichucnanguser()" id="user-control_header">
              <a href="#"><img id="avt_user_menu" src="" alt="thông báo"><i class="fa-solid fa-angle-down"></i>
              </a>
            </div>
            <div id="khung_ctl_user_header">
              <button id="btn_dangxuat" onclick="localStorage.setItem('user_doan',null);window.location.href ='./Đăng nhập.html' ">Đăng xuất</button>
            </div>
          </div>
          <div class="menu-bar"> <img width="35px" height="35px" src="../Hình ảnh/menu.png" alt="#"></div>
        </div>
      </div>
      <!-- END---------------------header-maint -->

      <!-- START---------------------contener-maint -->
      <div class="contener-maint">
        <div class="welcome-contener">
          <div class="title-welcome">
            <h1>Xin chào, Khang</h1>
            <p>Chào mừng bạn đến với trang Quản Lý</p>
          </div>

          
          <img class="image-welcome" src="../Hình ảnh/icons8_google_tag_manager_150px.png" alt="#">
        </div>


          <!-- --------------------------thoigian-contener -->
        <div class="thoigians-contener">
        <a href="#" ng-click="btn_day()" ng-class="{'thoigian1': isDaySelected}" class="thoigian">Hôm nay</a>
        <a href="#" ng-click="btn_week()" ng-class="{'thoigian1': isWeekSelected}" class="thoigian">Tuần</a>
        <a href="#" ng-click="btn_month()" ng-class="{'thoigian1': isMonthSelected}" class="thoigian">Tháng</a>
        <a href="#" ng-click="btn_year()" ng-class="{'thoigian1': isYearSelected}" class="thoigian">Năm</a>
          <select id="inp_nam_tk1" class="inp_nam_thongke_index"   >
          </select>
        </div>
          <!--END --------------------------thoigian-contener -->
          <!-- hoatdong--------------------------thoigian-contener -->

        <div class="hoatdong-contener">
          <a href="#" style="background-color: #3F6CE3;" class="card-hoatdong">
            <div class="title-card">Bình luận mới</div>
            <div class="thongso-card">
              <div class="number-card">200</div>
              <div class="kieu-card">Bình luận</div>
            </div>
          </a>

          <a href="#" style="background-color: #6A8DE9;" class="card-hoatdong">
            <div class="title-card">Bài đăng mới</div>
            <div class="thongso-card">
              <div class="number-card">10</div>
              <div class="kieu-card">Bài</div>
            </div>
          </a>

          <a href="#" style="background-color: #EB8E6D;" class="card-hoatdong">
            <div class="title-card">Người dùng mới</div>
            <div class="thongso-card">
              <div class="number-card">1000</div>
              <div class="kieu-card">Người</div>
            </div>
          </a>

          <a href="#" style="background-color: #FF5B5C;" class="card-hoatdong">
            <div class="title-card">Tổng người dùng</div>
            <div class="thongso-card">
              <div class="number-card">2000
          
              </div>
              <div class="kieu-card">Người</div>
            </div>
          </a>


        
        </div>



        <div class="time-thoitiet_contener">
          <div class="day-time">
            <div class="getday"></div>
            <div class="gettime"> 
              
            </div>
          </div>
           
         

          <div class="icon-time">
            <img src="../Hình ảnh/icons8_story_time_250px.png" alt="#">
            <img class="image_iconday" src="../Hình ảnh/icons8_timeline_week_150px.png" alt="#">
          </div>
        </div>


        <div class="thoigians-contener">
          <a ng-click="btn_daytk()" ng-class="{'thoigian1': isDaySelectedtk}" class="thoigian">Hôm nay</a>
          <a  ng-click="btn_weektk()" ng-class="{'thoigian1': isWeekSelectedtk}" class="thoigian">Tuần</a>
          <a ng-click="btn_monthtk()" ng-class="{'thoigian1': isMonthSelectedtk}" class="thoigian">Tháng</a>
          <a ng-click="btn_yeartk()" ng-class="{'thoigian1': isYearSelectedtk}" class="thoigian">Năm</a>
            <select  id="inp_thang_tk" class="inp_nam_thongke_index" name="month_tk">
              <option value="0">Tháng 0</option>
              <option value="1">Tháng 1</option>
              <option value="2">Tháng 2</option>
              <option value="3">Tháng 3</option>
              <option value="4">Tháng 4</option>
              <option value="5">Tháng 5</option>
              <option value="6">Tháng 6</option>
              <option value="7">Tháng 7</option>
              <option value="8">Tháng 8</option>
              <option value="9">Tháng 9</option>
              <option value="10">Tháng 10</option>
              <option value="11">Tháng 11</option>
              <option value="12">Tháng 12</option>
            </select>

            <select id="inp_nam_tk_hai" class=" inp_nam_thongke_index">

            </select>

          </div>
            <!--END --------------------------thoigian-contener -->
            <!-- hoatdong--------------------------thoigian-contener -->
  
            <div class="khung_bieudo">
              <canvas id="myChart"></canvas>
      
          </div>

      </div>
      <!-- END---------------------contener-maint -->

    

    </div>
  <!-- START -------------------------------------------------------maint-content -->
  <script src="./JS/jquery-3.7.0.min.js"></script>
  <script src="./JS/quanlythongtin.js"></script>

<script src="./JS/bar.js"></script>
</body>
</html>