<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng nhập</title>
        <link rel="stylesheet" href="../User/CSS/reset.css" />
        <link rel="stylesheet" href="./CSS ADMIN/Đăng nhập.css" />

        <script src="../angular.min.js"></script>
        <script src="../User/JS/jquery-3.7.0.min.js"></script>
        <script src="./JS/DangNhap.js"></script>
    </head>
    <body>
        <div class="cardlogin">
            <div class="tieude">
                <h2>ĐĂNG NHẬP</h2>
            </div>
            <div class="taikhoan">
                <input
                    type="text"
                    name="Tài khoản"
                    id="taikhoan"
                    placeholder="Tên tài khoản"
                />
            </div>
            <div class="matkhau">
                <input type="password" id="matkhau" placeholder="Mật khẩu" />

                <!-- ------------------------------- -->
            </div>

            <div class="btndangnhap">
                <button
                    onclick="Login()"
                    style="width: 100%; border-radius: 10px"
                    class="dangnhap"
                >
                    <p>Đăng nhập</p>
                    <svg
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                    >
                        <circle
                            cx="12"
                            cy="12"
                            r="10"
                            opacity=".35"
                            fill="#A7A3A3"
                        />
                        <path
                            d="M10,16.131c0,0.771,0.93,1.159,1.478,0.616l3.893-3.856c0.495-0.491,0.495-1.291,0-1.782l-3.893-3.856C10.93,6.71,10,7.098,10,7.869V16.131z"
                            fill="#A7A3A3"
                        />
                        <path
                            d="M2,12c0,0.685,0.07,1.354,0.201,2C5.267,14,13,14,13,14v-4c0,0-7.733,0-10.799,0C2.07,10.646,2,11.315,2,12z"
                            fill="#A7A3A3"
                        />
                    </svg>
                </button>
            </div>

            <div class="quenmk">
                <a href="#">Quên mật khẩu?</a>
            </div>
        </div>
    </body>
</html>
